<!-- Hero Section -->
<section class="hero py-16">
    <div class="auto px-8 flex items-center justify-between w-11/12">
        <div class="w-1/2">
            <h6 class="text-sm md:text-lg"><em>Are You Hungry?</em></h6>
            <p class="hidden md:inline text-lg"><em>EVERY BITE A BETTER BURGER</em></p>
            <h1 class="text-3xl md:text-6xl font-bold">Don't Wait</h1>
            <a href="#menu"
                class="text-sm px-1 md:ml-4 px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary inline-block">Order
                Now</a>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-burger.png" alt="">
        </div>
    </div>
</section>

<!-- Menu Section -->
<div class="burgerMenu pb-16">
    <section id="menu" class="auto w-11/12">
        <h1 class="text-xl font-bold mb-12">All Burgers</h1>

        <!-- Wrapper -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-10 gap-y-14">

            <!-- Javascript -->
            <% burgerMenu.forEach(function(burger) { %>

            <!-- Card -->
            <div class=" card auto shadow-md rounded-lg">
                <img class="mb-4 mx-auto rounded-lg" src="/img/<%= burger.image %> " alt="" />
                <div class="text-center">
                    <h2 class="mb-4 font-bold text-lg"><%= burger.name %> </h2>
                    <span class="py-1 px-4 uppercase text-xs pr-4"><%= burger.summary %></span>
                    <div class="flex items-center justify-around mt-8">
                        <span class="font-bold text-lg text-center pb-5">₹ <%= burger.price  %>/- </span>
                        <button data-burger="<%= JSON.stringify(burger) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold mb-4">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <% })%>

        </div>
    </section>
</div>