<!-- Hero Section -->
<section class="hero py-16">
    <div class="container px-8 flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are You Hungry?</em></h6>
            <h1 class="text-2xl font-bold"><em>EVERY BITE A BETTER BURGER</em></h1>
            <h1 class="text-6xl font-bold">Don't Wait</h1>
            <a href="#menu" class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary inline-block">Order Now</a>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-burger.png" alt="">
        </div>
    </div>
</section>

<!-- Menu Section -->
<section id="menu" class="menu container px-16 py-8">
    <h1 class="text-xl font-bold mb-12">All Burgers</h1>

    <!-- Wrapper -->
    <div class="grid grid-cols-3 gap-x-12 gap-y-12">

        <!-- Javascript -->
        <% burgerMenu.forEach(function(burger) { %>

        <!-- Card -->
        <div class="container mx-auto card shadow-md">
            <div class=" flex items-center justify-around">
                <img class=" h-42 w-40 rounded-r-lg
                " src="/img/<%= burger.image %>" alt="">
                <div class="">
                    <h2 class=" text-2xl ml-4 font-bold mt-0"><%= burger.name %></h2>
                    <p class="text-xs uppercase px-4 py-3 mt-5"><%= burger.summary %></p>
                    <div class="flex items-center justify-around mt-8">
                        <span class="font-bold text-lg">₹<%= burger.price %>/-</span>
                        <button data-burger="<%= JSON.stringify(burger)%>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <% })%>

    </div>
</section>